body{
    background-color: #000;
}

/* Text styles */

@font-face{
    font-family: 'DecorCyrillic';
    src: url('../fonts/DecorCyrillic.ttf');
}
@font-face{
    font-family: 'Romul';
    src: url('../fonts/Romul.ttf');
}
@font-face{
    font-family: 'GillSans';
    src: url('../fonts/GillSans.ttc');
}

.from-top-50{
    margin-top:50px; 
}

.banner-text-1 {
    font-family: DecorCyrillic;
    font-size: 52px;
    color: #cccccc;
    margin-bottom: 0;
}

.banner-text-2 {
    font-family: Romul;
    font-size: 25px;
    text-align: left;
    color: #cccccc;
    padding: 0px 0 25px 0;
}

.banner-text-4 {
    font-family: Romul;
    font-size: 35px;
    text-align: left;
    color: #cccccc;
}

.banner-gallery-text-1 {
    font-family: DecorCyrillic;
    font-size: 52px;
    color: #ffffff;
    text-shadow: 1px 1px #666666;
    margin-left: -5px;
}

.banner-gallery-text-2 {
    font-family: Romul;
    font-size: 35px;
    text-align: left;
    color: #ffffff;
    padding: 0px 0 25px 0;
    text-shadow: 1px 1px #666666;
    margin-left: -5px;
}

.banner-gallery-text-3 {
    font-family: DecorCyrillic;
    font-size: 53px;
    text-align: left;
    color: #eeddb9;
}

.banner-gallery-text-4 {
    font-family: Romul;
    font-size: 35px;
    text-align: left;
    color: #eeddb9;
}

p.contacts {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    text-align: left;
    color: #cccccc;
    margin: 0;
}

h4.footer {
    font-family: Romul;
    font-size: 22px;
    text-align: left;
    color: #eeddb9;
    margin-bottom: 15px;
}

.button-send {
    font-family: Romul;
    font-size: 22px;
    text-align: left;
    color: #313131;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    text-align: left;
    color: #cccccc;
}

button {
    font-family: Romul;
    font-size: 16px;
    text-align: left;
    color: #ffffff;
    padding: 8px 10px;
}

button.center{
    text-align: center;
}

p.button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    text-align: left;
    color: #cccccc;
}

.noleft{
    text-align: center !important;
}

.yellow-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #d8c18f;
    margin: 0px;
}

.yellow{
    width: 100px;
    height: 2px;
    background-color: #d8c18f;
    border: none;
    margin: 0px auto;
    vertical-align: middle;
}

.middle{
    position: relative;
    top: 40%
}

.menu {
    font-family: Romul;
    font-size: 16px;
    text-align: left;
    color: #ffffff;
    vertical-align: center;
}

.menu-hover-menu-active {
    font-family: Romul;
    font-size: 12px;
    text-align: left;
    color: #000000;
}

.logo{
    width: 120px;
    margin-top: -7px;
}

a{
    color: #fff;
}

li:hover, li:active, .nav>li>a:focus, .nav>li>a:hover {
    background-color: #eeddb9;
    color: #000;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color: #eeddb9;
    color: #000;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    background-color: #eeddb9;
    color: #000;
}

.dropdown-menu>li>a, .dropdown-menu>li>a, .dropdown-menu{
    background-color: #000;
    color: #fff;
}

ul {
    background-color: #000;
}

div.phone{
    background-color: #eeddb9;
    color: #000;
    font-family: Romul;
    font-size: 16px;
    margin-top: 10px;
    line-height: 30px;
    padding: 0 10px;
}

li.no-color{
    background-color: transparent;
}

span.icon-bar{
    background-color: #fff;
}

div.main-menu{
    height: 65px;
}

/*carousel*/
.carousel-caption{
    text-align: left;
    bottom: 35%;
    padding-bottom: 25px;
    right: 15%;
    left: 15%;
}

.form-top-25{
    margin-bottom: 25px ;
}


button, button.invers:hover{
    background-color: transparent;
    color: #fff;
    border: 2px solid #eeddb9;
}

button:hover, button.invers{
    background-color: #eeddb9;
    color: #000;
    border: 2px solid #eeddb9;
}

.inline{
    display: inline-block;
}

.raspisanie{
    background-image: url(../img/banners/raspisanie.jpg);
    height: 450px;
    vertical-align: middle;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}
.raspisanie-text{
    color: #fff;
    font-family: Romul;
    font-size: 32px;
}

/*список*/

ul.programm>li{
    list-style-image: url(../img/arrow_bullit.png);
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #ccc;
}

ul.programm>li:hover{
     background-color: transparent;
     
}

.robert{
    max-width: none;
    height: 405px;
}
.right-img{
    float: right;
}


ul.svernut-1{
    margin-left:25%;
}


ul.svernut-1>li{
    list-style-image: url(../img/arrow-slideup.png);
    cursor: pointer;
}

ul.svernut-1>li:hover{
    text-decoration: underline;
    background-color: transparent;
    color: #fff;
}
.carousel-indicators {
    text-align: left;
    bottom: 30%;
}

.border-2-3{
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}
.border-3{
    border-bottom: 1px solid #fff;
}
tr{
    width: 100%;
    height: 31px;
}
th{
    width: 292px;
}

.nomargin{
    top: 0px;
}
.from-left-125{
    margin-left: 187px;
}
.arrow-in-slider{
    margin-top: 200%
}
#programm, #raspisanie{
    display: none;
}
div.footer{
    /* border-top: 1px solid #eeddb9; */
    margin-bottom: 15px;
    margin-top: 15px;
}
hr.footer-separator {
    margin: 0;
    margin-top: 50px;
    border-top: 1px solid #eeddb9;
    opacity: 0.5;
}

input, textarea{
    background-color: transparent !important;
    border: 1px solid #eeddb9 !important;
    font-family: 'Ubuntu', sans-serif;
    color: #cccccc !important;
    font-size: 16px !important;
    line-height: 30px !important;
}

.margin-top-5{
    margin-top: 5px;
}

.opacity:hover{
    opacity: 0.5;
}

.social{
    position: absolute;
    top: 100px;
    right: 0px;
    display: block;
}

div.social>a>img.opacity{
    display: block;
    margin: 5px;
}

.carousel-inner>.item>img{
    width: 100%;
    max-width: none;
}

.navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 19px;
}

li.no-color{
    padding-top: 8px;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: -1px;
}

.description-container {
    margin: 0 auto;
}

/* Schedule */

.schedule {
    width: 100%;
    margin: 0 auto;
}
.schedule-row {
    display: table;
    width: 100%;
}
.schedule-column {
    height: 100%;
    display: table-cell;
    text-align: center;
    padding-top: 10px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.column-width {
    width: 20%;
}
.schedule>div>div:first-child {
    border: none;
}
.schedule>div:first-child>div {
    border: none;
}
.schedule>div>div:last-child {
    border-right: none;
}
.schedule>div:last-child>div {
    border-bottom: none;
}

/* END */
