<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
    Новое сообщение через форму обратной связи:
    <br>
    Имя: {{ name }}
    <br>
    Телефон или email для обратной связи: {{ email }}
    <br>
    Сообщение:
    <br>
    {{ text | nl2br }}
</body>
</html>



